
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.between {
  margin: 0px 5px;
  color: rgb(30, 172, 201);
}

.add-users , .users-table{
  margin-top: 30px;
}

.btn-success {
  margin-bottom: 50px;
}

.label-head{
 text-align: center;
}

.no-user{
margin: 20px 0px ;
color: red;
}